<div class="container">
  <div class="row mt-5">
    <div class="col-4">
      <div class="logged-as">
          <div>Logged as:</div>
          <h6>{{user.email}} 
            <span class="badge badge-primary">Edit</span>
            <span class="badge badge-danger" (click)="logout()">logout</span>         
          </h6>
      </div>
      <game-dashboard-navigation></game-dashboard-navigation>
    </div>
    <div class="col-8">
      <router-outlet></router-outlet>      
    </div>
  </div>
</div>
