<div class="container">
  <div class="row" *ngIf="character.id">
    <div class="col-4">
      <img [src]="character.image">
    </div>
    <div class="col-8">
      <ul>
        <li>Name: 
          <span>{{ character.name }}</span>
        </li>
        <li>Race: 
            <span>{{ character.race }}</span>
        </li>
        <li>Class: {{ character.class}}</li>
        <li>Gender: {{ character.gender}}</li>
        <li>Level: {{ character.level}}</li>
        <li>
          <div class="progress">
              <div 
                class="progress-bar"
                role="progressbar" 
                [ngStyle]="{ width: character.experience + '%'}" 
                aria-valuemin="0" 
                aria-valuemax="100"
               >
               {{character.experience}}%
              </div>
          </div>
        </li>
      </ul> 
    </div>  
  </div>
  <div class="container" *ngIf="!character.id">
    <div class="alert alert-warning">
        You dont have any character yet. You can <strong routerLink="/character/create">Create one here</strong>
    </div>
  </div>
</div>